<p>Closing of $1 Billion Tax Loophole Is Delayed by Add-Ons
By ERIC LIPTON and LIZ MOYER 6:48 PM ET
Lobbyists recently swooped in to add 54 words to a tax and spending bill that temporarily preserved a loophole sought by the hotel, restaurant and gambling industries, and Wall Street investors.</p>